h1 {
  font-family: lucida;
  text-align: center;
  font-size: 20px;
  text-decoration-thickness: 4px;
  text-decoration-color: black;
}

img {
  display: block;
  margin: auto;
  border-radius: 9px;
}

h2 {
  font-family: monospace;
  text-align: center;
  line-height: 1.6;
  margin: 20px auto;
  width: 120px;
  max-width: 140px;
  font-size: 7px;
  text-decoration-thickness: 2px;
  background-color: dimgray;
  background-size: auto;
  border-radius: 9px;
  color: rgb(0 0 0);
}

h3 {
  font-family: monospace;
  text-align: center;
  margin: auto;
  width: 150px;
  font-size: 7%;
  text-decoration-thickness: 2px;
  color: rgb(0 0 0);
}
