h1 {
  font-family: monospace;
  text-align: center;
  margin-top: 18px;
  font-size: 30px;
  text-decoration-thickness: 5px;
  text-decoration-color: black;
}

#layneimg1,
#rentierreimg1 {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 9px;
}

h2 {
  font-family: monospace;
  text-align: center;
  line-height: 1.6;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  max-width: 140px;
  font-size: 15px;
  text-decoration-thickness: 2px;
  background-color: rgb(74, 55, 197);
  background-position: center;
  background-size: 160px;
  border-radius: 9px;
  color: rgb(0 0 0);
}

h3 {
  font-family: monospace;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  font-size: 15px;
  text-decoration-thickness: 2px;
  background-color: rgb(74, 55, 197);
  background-position: center;
  background-size: 160px;
  border-radius: 9px;
  color: rgb(0 0 0);
}

p {
  font-family: monospace;
  text-align: center;
  font-size: 15px;
  color: black;
}
